/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;

}
body {
  line-height: 1;

}
ol,
ul {
  list-style: none;

}
blockquote,
q {
  quotes: none;

}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
  border-spacing: 0;

}

/* disable coloured hilighting */
::selection {
	color: none;
	background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
	color: none;
  background: none;
  
}

:root {
	color: rgb(236, 236, 236);
	/* box-sizing: border-box; */
  font-family: Arial, Helvetica, sans-serif;
}

*{
	touch-action: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;	
}

body {
	margin: 0;
	padding: 0;
	/* width: 100%; */
	height: 100%;
	overflow: hidden;
	touch-action: none;
}


canvas {
	display: block;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
  overflow: hidden;
	z-index: -1;
	touch-action: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
}

p {
  /* margin: 0; */
}

.button {
	box-sizing: border-box;
	padding: 10px;
	width: 50px;
	height: 50px;
	line-height: 10px;
	background-color: #ff84ef;
	font-size: 30px;
	margin: 10px;
	/* margin 0px; */
	border-radius: 20px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	color: white;
	text-align: center;
	font-weight: bolder;
  box-shadow: 0px 0px 4px rgb(249, 183, 255);
	/* outline: 5px white dotted;  inner stroke */
	/* outline-offset: -5px;  negative border width + outline width */
}

.radio {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	padding: 5px;
	width: 60px;
	margin: 7px;
	border-radius: 5px;
	height: auto;
  width: 45px;

}

.radio-container{
	display: flex;
	/* width: 70%; */
	/* background-color: red; */
	justify-content: center;
  flex-wrap: wrap;
}

.icon {
	padding: 0;
	background-color: #FFFFFF00;
	width: 80px;
	height: 80px;
	margin: 10px;
  border-style: none;
}

.button:hover {
  background-color: #fa9ffa;
}
.button:active {
  background-color: #f6cff7;
	/* font-size: 28px; */
	/* border-width: 10px; */
}

.info {

	width: 400px;
	margin: auto;
	text-align: center;
	font-weight: bolder;
	/* color: rgb(255); */
	color: white;
	/* color: rgb(247, 107, 228); */
}



.ui{
	position: absolute;
	width: 100%;
  
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	/* background-color: rgba(139, 0, 139, 0.118); */
	background-color: #ba89e0aa;
}

.ui-top{
	position: static;
	top: 0;
	background-color: #FFFFFF00;
}


.ui-radio{
	position: absolute;
	width: 80vw;
	/* bottom: 5vh;
  right: 5vw; */
	top: 0;
	/* left: 5vw; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	/* background-color: rgb(250, 0, 0); */
}

.nav{
	/* position: absolute; */
	width: 80vw;
	/* bottom: 5vh;
  right: 5vw; */
	top: 0;
	/* left: 5vw; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	/* background-color: rgba(139, 0, 139, 0.118); */
}

.bg {
	position: absolute;
	/* top: 10%; */
	margin: 0;
	padding: 0;
	width: 100%;
	height: 90%;
	/* background: green; */

	z-index: -1;
	overflow: hidden;
}




/* added--Gujie */
html,
body {
	background-color: #dfe7ef;
	align-items: center;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-family: Arial, Helvetica, sans-serif;
}

.thumbnail {
	width: 80px;
	height: 80px; 
	border-radius: 50%;
	background: url("https://images.pexels.com/photos/1255149/pexels-photo-1255149.jpeg");
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}

.player .circle {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.player .circle .active {
	text-transform: uppercase;
	animation-name: example;
	animation: record 3s linear 0s infinite forwards;
}
@keyframes record {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}


.player .player-control {
	width: 600px;
	text-align: center;
	position: absolute;
}

.player .player-control #play {
	border-radius: 50%;
}

.player .player-control i {
	padding: 6px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
}

.play-btn:before {
	border-radius: 50%;
	color: rgb(255, 70, 70);
	background-color: white;
	padding: 4px;
}

.play-btn:hover:before {
	filter: saturate(10);
}

.pause-btn:before {
	border-radius: 50%;
	color: rgb(255, 70, 70);
	background-color: white;
	padding: 4px;
}
.pause-btn:hover:before {
	filter: saturate(10);
}
.next-btn:before {
	color: rgb(255, 255, 255);
	padding: 18px;
}
.next-btn:hover:before {
	color: rgb(255, 70, 70);
	padding: 18px;
}
.prev-btn:before {
	color: rgb(255, 255, 255);
	padding: 18px;
}
.prev-btn:hover:before {
	color: rgb(255, 70, 70);
	padding: 18px;
}

/* added--Gujie */